.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #D63030;
}

.margintop20 {
    margin-top:20px;
}

.nav-pills>li>a {
    border-radius: 0px;
}

.thumbnail a {
    color: #000;
    text-decoration: none;
}

.thumbnail a:hover {
    color: #000;
    text-decoration: none;
}


.nav-stacked>li+li {
    margin-top: 0px;
    margin-left: 0;
    border-bottom:1px solid #dadada;
    border-left:1px solid #dadada;
    border-right:1px solid #dadada;
}

.active2 {
    border-right:4px solid #d17581;
    background-color:#F0EBEB;
}

.active_selected {
    border-right:4px solid #d17581;
    font-weight: bold;
}

.filterson {
    display:block;
}

body { margin-top:30px; }

#login-nav input { margin-bottom: 15px; }

li.search-button {
    margin-left: -25px;
}

.badge.shopping-cart {
    color: #c9302c;
    background-color: #fff;
    font-weight: bold;
}


.clickable{
    cursor: pointer;
}

.panel-heading span {
    font-size: 15px;
}

.prodtitle {
    color: #D63030;
}

.spectitle {
    color: #000090;
}

/*
.example:before {
content: "Example";
position: absolute;

font: 700 12px Arial;
color: #bbb;
text-transform: uppercase;
letter-spacing: 1px;
}*/



.pricerange {
    font-weight: bold;
}

#prg {
   color:#428bca;
   padding: 3px 5px 10px;
}

.sliderbox {
border: 1px solid #ddd;
border-radius: 4px;
position: relative;
padding: 5px 15px 10px;
margin: 20px 0;
overflow: hidden;
}